$tablet-screen: 475px;
$laptop-screen: 1080px;
$desktop-screen: 1440px;
$super-big-screen: 2550px;

//COLORS
$base-color: #f7f7f7;
$primary-color: #fffdfa;
$secondary-color: #333333;
$text-color: #333333;

$promo-code-color: rgba(0, 99, 0, 0.6);
$selected-color: rgba(0, 88, 7, 0.1);
$selected-background-color: rgb(235, 252, 237);
$selected-color-darker: rgba(0, 88, 7, 0.4);
$selected-background-color-darker: rgb(85, 155, 93);

//BORDERS
$radius: 24px;

//SHADOWS
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);

// TYPO
$line-height: 1.15;
