$tablet-screen: 475px;
$desktop-screen: 1024px;

//COLORS
$base-color: #f7f7f7;
$primary-color: #fffdfa;
$secondary-color: #333333;
$text-color: #333333;

$promo-code-color: rgba(0, 99, 0, 0.6);

//BORDERS
$radius: 24px;

//SHADOWS
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
