@import url('https://fonts.googleapis.com/css2?family=:wght@300;400;500;600;800&display=swap');
@import 'transitions';

*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $base-color;
  font-family: 'Rubik', sans-serif;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
}

button,
input {
  border-radius: $radius;
}

button {
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 1rem;
}

input,
textarea {
  caret-color: $secondary-color;
  background-color: transparent;
  &:focus {
    border: 2px solid $secondary-color;
    outline: $secondary-color;
  }
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $primary-color inset !important;
  border: 2px solid $primary-color !important;
  outline: $primary-color;
}
input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button-primary,
.button-secondary {
  color: $text-color;
  display: flex;
  padding: 1rem;
  justify-content: center;
  cursor: pointer;
  border-radius: $radius;
}
.button-primary {
  background-color: $secondary-color;
  color: $primary-color;
  border: $primary-color solid 2px;

  &:hover {
    -webkit-box-shadow: 0px 2px 4px 5px rgba(250, 255, 0, 0);
    box-shadow: 0px 2px 4px 5px rgba(250, 255, 0, 0);
  }

  &:disabled {
    border-color: lightgray;
    background-color: lightgray;
  }
}
.button-secondary {
  background-color: transparent;
  border: $text-color solid 2px;
}

.icon {
  width: 20px;
}

//SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 8px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 1rem;
}

//DETAILS
details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

//ANIMATIONS
@keyframes slide-from-left {
  from {
    transform: translate(-20px);
  }
  to {
    transform: translate(0px);
  }
}
@keyframes slide-from-top {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes slide-from-bottom {
  from {
    transform: translate(20px);
  }
  to {
    transform: translate(0px);
  }
}
